<!-- sobit_turtlebot_gmapping.launch -->
<launch>
    <!-- gmapping -->
    <include file="$(find sobit_mapping)/launch/include/sobit_gmapping.launch.xml"/>

	<!--save_map_command.py--><!--This is not node -->
	<node name="save_map_command" pkg="sobit_mapping" type="save_map_command.py" output="screen" launch-prefix="xterm -font r16 -fg floralwhite -bg darkslateblue -e">
        <param name="map_save_path" type="str" value="$(find sobit_mapping)/map/"/>
    </node>

    <arg name="rviz"                    default="true"/>
    <arg name="rviz_cfg"                default="$(find sobit_mapping)/config/rviz/sobit_navigation.rviz"/>
    <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_cfg)"/>

    <arg name="rqt_reconfigure"         default="false"/>
    <node if="$(arg rqt_reconfigure)" pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure"/>

    <!-- keyboard -->
    <include file="$(find sobit_navigation)/launch/sobit_turtlebot/sobit_turtlebot_teleop_keyboard.launch"/>
</launch>
