<launch>
    <!-- rtabmap -->
	<include file="$(find sobit_mapping)/launch/sobit_turtlebot/sobit_turtlebot_rtabmap.launch" />

	<!-- octomap -->
	<node name="octomap_server" pkg="octomap_server" type="octomap_server_node" launch-prefix="xterm -font r16 -fg floralwhite -bg darkslateblue -e">
		<remap from="cloud_in" to="/rtabmap/cloud_map" />
        <rosparam>
            frame_id : map
            base_frame_id : base_footprint
            latch : false
            resolution : 0.05

            filter_ground : false
            <!-- ground_filter/distance : 0.10
            ground_filter/angle : 0.20
            ground_filter/plane_distance : 0.10 -->

            pointcloud_min_z : 0.4
            pointcloud_max_z : 2.0
            occupancy_min_z : 0.4
            occupancy_max_z : 1.7

            <!-- Ref : https://jsk-/docs.readthe/docs.io/projects/jsk_recognition/en/latest/jsk_pcl_ros/nodes/octomap_server_contact.html -->
        </rosparam>
	</node>

    <!--save_3dmap_command.py--><!--This is not node -->
    <arg name="map_path" default="$(find sobit_mapping)/map/" />
	<node name="save_3dmap_command" pkg="sobit_mapping" type="save_3dmap_command.py" launch-prefix="xterm -font r16 -fg floralwhite -bg darkslateblue -e">
        <param name="map_save_path" type="str" value="$(arg map_path)"/>
    </node>
    <!--projected_map_saver--><!--This is not node -->
	<node name="projected_map_saver" pkg="sobit_mapping" type="projected_map_saver" launch-prefix="xterm -font r16 -fg floralwhite -bg darkslateblue -e">
        <param name="map_save_path" type="str" value="$(arg map_path)"/>
    </node>

    <arg name="rviz"                    default="true"/>
    <arg name="rviz_cfg"                default="$(find sobit_mapping)/config/rviz/sobit_navigation_octomap.rviz"/>
    <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_cfg)"/>

    <arg name="rqt_reconfigure"         default="false"/>
    <node if="$(arg rqt_reconfigure)" pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure"/>

    <!-- keyboard -->
    <include file="$(find sobit_navigation)/launch/sobit_turtlebot/sobit_turtlebot_teleop_keyboard.launch"/>
</launch>
