<!-- sobit_turtlebot_create_location_file.launch -->
<launch>
    <!-- Navigation -->
    <include file="$(find sobit_navigation)/launch/sobit_hsr_navigation.launch"/>

    <arg name="sub_msg_to_robot_topic_name"       default="/handyman/message/to_robot" />
	<arg name="pub_msg_to_moderator_topic_name"   default="/handyman/message/to_moderator" />
	<arg name="sub_joint_state_topic_name"        default="/hsrb/joint_states" />
	<arg name="pub_base_twist_topic_name"         default="/hsrb/command_velocity" />
	<arg name="pub_arm_trajectory_topic_name"     default="/hsrb/arm_trajectory_controller/command" />
	<arg name="pub_gripper_trajectory_topic_name" default="/hsrb/gripper_controller/command" />

    <!-- keyboard -->
	<node name="teleop_key_handyman" pkg="handyman" type="teleop_key_handyman" output="screen" launch-prefix="xterm -e">

		<param name="sub_msg_to_robot_topic_name"       type="string" value="$(arg sub_msg_to_robot_topic_name)" />
		<param name="pub_msg_to_moderator_topic_name"   type="string" value="$(arg pub_msg_to_moderator_topic_name)" />
		<param name="sub_joint_state_topic_name"        type="string" value="$(arg sub_joint_state_topic_name)" />
		<param name="pub_base_twist_topic_name"         type="string" value="$(arg pub_base_twist_topic_name)" />
		<param name="pub_arm_trajectory_topic_name"     type="string" value="$(arg pub_arm_trajectory_topic_name)" />
		<param name="pub_gripper_trajectory_topic_name" type="string" value="$(arg pub_gripper_trajectory_topic_name)" />
	</node>

    <!-- create_location_file(ymal型ver) -->
    <arg name="location_folder_path" default="$(find sobit_mapping)/map"/>
    <group ns = "create_location_file">
        <node pkg="sobit_mapping" type="create_location_file"  name="create_location_file" output="screen">
            <param name="save_location_folder_path" type="string" value="$(arg location_folder_path)"/>
        </node>
        <node pkg="sobit_mapping" type="display_location_marker"  name="display_location_marker">
        </node>
    </group>

</launch>
