<!-- sobit_turtlebot_navigation_octomap.launch -->
<launch>
    <!-- rviz : Used for visualising the turtlebot while building a map or navigating with the ros navistack.-->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find sobit_mapping)/config/rviz/sobit_navigation.rviz"/>

    <!--  ファイル名を指定するなら下記のargを変更すること -->
    <arg name="map_file" default="$(find sobit_mapping)/map/projected_map_8_26_19_54.yaml"/>
    <arg name="initial_pose_x" default="0.0"/>
    <arg name="initial_pose_y" default="0.0"/>
    <arg name="initial_pose_a" default="0.0"/>
    <arg name="custom_param_file" default="$(find sobit_mapping)/param/sobit_turtlebot_octomap/octomap_costmap_common_params.yaml"/>

    <!-- Map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

    <!-- AMCL -->
    <include file="$(find sobit_navigation)/launch/include/sobit_turtlebot/sobit_turtlebot_amcl.launch.xml">
        <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
        <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
        <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
    </include>

    <!-- Move_Base -->
    <include file="$(find sobit_navigation)/launch/include/sobit_turtlebot_octomap/sobit_turtlebot_move_base_octomap.launch.xml">
        <arg name="custom_param_file" value="$(arg custom_param_file)"/>
    </include>

</launch>
