<!-- sobit_pro_navigation.launch -->
<launch>
    <!-- Visualization -->
    <arg name="rviz"            default="False"/>
    <!-- Reconfigure -->
    <arg name="rqt_reconfigure" default="False"/>
    <!-- Localization -->
    <arg name="use_als_ros"     default="False"/>
    <!-- Move Base -->
    <arg name="use_smoother"    default="False"/>
    <!-- RGBD Camera-based Navigation -->
    <arg name="use_rgbd_cam"    default="False"/>
    <arg name="pan_angle_deg"   default="0.0"/>
    <arg name="tilt_angle_deg"  default="0.0"/>
    <arg name="cloud_topic_name"        default="/points2"/>
    <arg name="object_cloud_topic_name" default="/bbox_to_tf/object_cloud"/>  <!-- yolov8_ros="/yolo_to_tf/object_cloud" ssd_nodelet="ssd_to_tf/object_cloud" -->
    <!-- Y-Linear Velocity in DWA -->
    <arg name="use_y_dwa"       default="False"/>

    <!-- Map server -->
    <arg name="map_file"        default="$(find sobit_mapping)/map/example.yaml" />

    <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz" args="-d $(find sobit_mapping)/config/rviz/sobit_navigation.rviz" />
    <node if="$(arg rqt_reconfigure)" pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure" />

    <include file="$(find sobit_navigation)/launch/sobit_pro/sobit_pro_navigation_common.launch" >
        <arg name="robot_namespace" value="sobit_pro_1" />
        <arg name="use_als_ros"     value="$(arg use_als_ros)" />
        <arg name="initial_pose_x"  value="0.0" />
        <arg name="initial_pose_y"  value="0.0" />
        <arg name="initial_pose_a"  value="0.0" />
        <arg name="use_smoother"    value="$(arg use_smoother)" />
        <arg name="use_rgbd_cam"    value="$(arg use_rgbd_cam)" />
        <arg name="pan_angle_deg"   value="$(arg pan_angle_deg)" />
        <arg name="tilt_angle_deg"  value="$(arg tilt_angle_deg)" />
        <arg name="cloud_topic_name"        value="$(arg cloud_topic_name)" />
        <arg name="object_cloud_topic_name" value="$(arg object_cloud_topic_name)" />
        <arg name="use_y_dwa"       value="$(arg use_y_dwa)" />
        <arg name="map_file"        value="$(arg map_file)" />
    </include>

    <!-- <include file="$(find sobit_navigation)/launch/sobit_pro/sobit_pro_navigation_common.launch" >
        <arg name="robot_namespace" value="sobit_pro_2" />
        <arg name="use_als_ros"     value="$(arg use_als_ros)" />
        <arg name="initial_pose_x"  value="1.0" />
        <arg name="initial_pose_y"  value="1.0" />
        <arg name="initial_pose_a"  value="0.0" />
        <arg name="use_smoother"    value="$(arg use_smoother)" />
        <arg name="use_rgbd_cam"    value="$(arg use_rgbd_cam)" />
        <arg name="pan_angle_deg"   value="$(arg pan_angle_deg)" />
        <arg name="tilt_angle_deg"  value="$(arg tilt_angle_deg)" />
        <arg name="cloud_topic_name"        value="$(arg cloud_topic_name)" />
        <arg name="object_cloud_topic_name" value="$(arg object_cloud_topic_name)" />
        <arg name="use_y_dwa"       value="$(arg use_y_dwa)" />
        <arg name="map_file"        value="$(arg map_file)" />
    </include> -->

</launch>
