<launch>
    <arg name="cloud_topic_name"              default="/points2"/>  <!-- azure_kinect="/points2", realsense="/head_camera/depth_registered/points" -->
    <node pkg="sobit_navigation" type="floor_color_setting" name="floor_color_setting" output="screen" >
        <param name="topic_name" value="$(arg cloud_topic_name)"/>
        <param name="voxel_size" type="double" value="0.025"/>
        <param name="radius" type="double" value="0.05"/>
        <param name="max_floor_z" type="double" value="0.1"/>
        <param name="min_pt" type="int" value="5"/>
        <param name="target_frame" type="string" value="base_footprint"/>
    </node>

    <arg name="use_sobit_"                    default="pro"    />   <!-- pro or edu or mini -->
    <arg name="pan_angle_deg"                 default="0.0"    />
    <arg name="tilt_angle_deg"                default="-40.0"  />
    <node if="$(eval use_sobit_=='pro')"  pkg="sobit_navigation" type="sobit_pro_pantilt_controll.py"  name="sobit_pro_pantilt_controll" output="screen">
        <param name="pan_angle_deg"      type="double"   value="$(arg pan_angle_deg)"/>
        <param name="tilt_angle_deg"     type="double"   value="$(arg tilt_angle_deg)"/>
    </node>
    <node if="$(eval use_sobit_=='edu')"  pkg="sobit_navigation" type="sobit_edu_pantilt_controll.py"  name="sobit_edu_pantilt_controll" output="screen">
        <param name="pan_angle_deg"      type="double"   value="$(arg pan_angle_deg)"/>
        <param name="tilt_angle_deg"     type="double"   value="$(arg tilt_angle_deg)"/>
    </node>
    <node if="$(eval use_sobit_=='mini')" pkg="sobit_navigation" type="sobit_mini_pantilt_controll.py" name="sobit_mini_pantilt_controll" output="screen">
        <param name="pan_angle_deg"      type="double"   value="$(arg pan_angle_deg)"/>
        <param name="tilt_angle_deg"     type="double"   value="$(arg tilt_angle_deg)"/>
    </node>
</launch>