<!-- sobit_turtlebot_active_slam.launch -->
<launch>
    <arg name="rviz"                    default="true"/>
    <arg name="rviz_cfg"                default="$(find sobit_mapping)/config/rviz/sobit_navigation.rviz"/>
    <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_cfg)"/>

    <arg name="rqt_reconfigure"         default="false"/>
    <node if="$(arg rqt_reconfigure)" pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure"/>

    <arg name="use_smoother"          default="true" />

    <!-- Gmapping -->
    <include file="$(find sobit_mapping)/launch/hsr_gmapping.launch">
        <arg name="rviz"            value="false"/>
        <arg name="save_map"        value="true"/>
    </include>

    <!-- Move_Base -->
    <include file="$(find sobit_navigation)/launch/include/hsr/hsr_move_base.launch.xml"/>

    <!-- Explore_Lite -->
    <node pkg="explore_lite" type="explore" respawn="false" name="explore" output="screen">
        <param name="robot_base_frame" value="base_footprint"/>
        <param name="costmap_topic" value="map"/>
        <param name="visualize" value="true"/>
    </node>
</launch>
