<launch>
	<arg name="rviz"                    default="true"/>
    <arg name="rviz_cfg"                default="$(find sobit_mapping)/config/rviz/sobit_navigation.rviz"/>
    <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_cfg)"/>

    <arg name="map_file" default="$(find sobit_mapping)/map/example/projected_map.yaml"/>
    <arg name="initial_pose_x" default="0.0"/>
    <arg name="initial_pose_y" default="0.0"/>
    <arg name="initial_pose_a" default="0.0"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

    <arg name="location_file_path" default="$(find sobit_mapping)/map/example/location_projected_map.yaml"/>

    <group ns = "location_file_viewer">
        <node pkg="sobit_mapping" type="location_file_viewer"  name="location_file_viewer" output="screen">
            <param name="location_file_path" type="string" value="$(arg location_file_path)"/>
        </node>
    </group>
</launch>
