<launch>
    <!-- rtabmap -->
	<include file="$(find sobit_mapping)/launch/sobit_pro_rtabmap.launch" />

	<!-- octomap -->
	<node name="octomap_server" pkg="octomap_server" type="octomap_server_node" launch-prefix="xterm -font r16 -bg darkblue -e">
		<remap from="cloud_in" to="/rtabmap/cloud_map" />
        <rosparam>
            frame_id : map
            base_frame_id : base_footprint
            latch : false
            resolution : 0.05

            sensor_model :
                max_range : 5.0

            filter_ground : false
            <!-- ground_filter/distance : 0.10
            ground_filter/angle : 0.20
            ground_filter/plane_distance : 0.10 -->

            pointcloud_min_z : 0.15
            pointcloud_max_z : 2.0
            occupancy_min_z : 0.15
            occupancy_max_z : 1.7

            <!-- Ref : https://jsk-docs.readthedocs.io/projects/jsk_recognition/en/latest/jsk_pcl_ros/nodes/octomap_server_contact.html -->
        </rosparam>
	</node>

    <!--save_3dmap_command.py--><!--This is not node -->
    <arg name="map_path" default="$(find sobit_mapping)/map/" />
	<node name="save_3dmap_command" pkg="sobit_mapping" type="save_3dmap_command.py" launch-prefix="xterm -font r16 -bg darkblue -e">
        <param name="map_save_path" type="str" value="$(arg map_path)"/>
    </node>
    <!--projected_map_saver--><!--This is not node -->
	<node name="projected_map_saver" pkg="sobit_mapping" type="projected_map_saver" launch-prefix="xterm -font r16 -bg darkblue -e">
        <param name="map_save_path" type="str" value="$(arg map_path)"/>
    </node>

    <!-- rviz : Used for visualising the turtlebot while building a map or navigating with the ros navistack.-->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find sobit_mapping)/config/rviz/sobit_navigation_octomap.rviz"/>

    <!--pro_pantilt_ctr -->
    <node pkg="sobit_mapping" type="pro_pantilt_ctr.py" name="pro_pantilt_ctr">
        <rosparam>
            tilt_rad : -0.2
        </rosparam>
    </node>

    <!-- keyboard -->
    <include file="$(find sobit_pro_bringup)/launch/ps4_control.launch"/>
</launch>
